# Директории IDEA
.idea/

# Директории сборки и временные файлы
out/
build/
target/
*.jar
*.war
*.iml

# Логи и временные файлы
*.log
.classpath
.project
.settings
*.swp

# IDEA-специфичные файлы
*.iml
.iml
.idea/
